%legend
  %h2=t(".title")
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, t(".send_pass_instructions_button")
= render :partial => "devise/shared/links"
