%legend
  = t(".legend")

- unless @contact.nil?
  %div.span12
    %address
      %strong= @contact.chirch_name
      %br/
      = @contact.address
      %br/
      %abbr{ :title => "Телефон"} Тел.
      = @contact.phone


  %div.span12.pagination-centered
    != @contact.google_map
    %br/
    %br/


