%div.span4
  / There is situation when nil object can be send to this particle. We should just to ignore it.
  - unless photo.nil?
    - if can? [:edit, :destroy], Photo
      / To align it right we first of all should make box of chosen size where we will align.
      %div{ :class => "photo-item", :id => "#{photo.id}"}
        %div.photo-edit-button
          %div.btn-group
            = link_to "#", :class => "btn dropdown-toggle", "data-toggle" => "dropdown" do
              %i{ :class => "icon-wrench icon-white" }
              = t(".change")
              %span.caret
            %ul.dropdown-menu
              %li= link_to t(".edit"), edit_photo_path( photo )
              %li.divider
              %li= link_to t(".delete"), photo, :method => :delete, :id => "destroy_link"
    %p
      %div{ "data-id" => photo.id, :id => "photo-Link" }
        = image_tag photo.image_url(:thumb), :class => "photo", :style => "cursor: pointer;"

