%div.span4
  / There is situation when nil object can be send to this particle. We should just to ignore it.
  - unless photo.nil?
    - if can? [:edit, :destroy], Photo
      / To align it right we first of all should make box of chosen size where we will align.
      %div.photo-item
        %div.photo-edit-button
          %div.btn-group
            = link_to "#", :class => "btn dropdown-toggle", "data-toggle" => "dropdown" do
              %i{ :class => "icon-wrench icon-white" }
              = t(".change")
              %span.caret
            %ul.dropdown-menu
              %li= link_to t(".edit"), edit_photo_path( photo )
              %li.divider
              %li= link_to t(".delete"), "#", {:remote => true, 'data-toggle' => 'modal', 'data-target' => "#modal-window", 'data-backdrop' => true, 'data-keyboard' => true}
    %p
      = link_to photo.image_url, { :class => "photo", :rel => "gallery" } do
        = image_tag photo.image_url(:thumb)

    / Modal window to delete photo.
    %div{ :class => "modal hide fade", :id => "modal-window" }
      %div.modal-header
        %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
        %h3
          = t(".title")
      %div.modal-body
        %h6
          %p= t(".message")
      %div.modal-footer
        = link_to t(".delete"), photo, :method => :delete, :class => "btn btn-danger", :id => "destroy_link"
        = link_to t(".close"), "#", :class => "btn", "data-dismiss" => "modal"
