%legend
  = t(".legend")

= simple_form_for @photo do |f|
  = render :partial => 'fields', :locals => { :f => f }

  %div{ :class => "form-actions"}
    = f.button :submit, t(".update"), :class => "btn btn-large btn-warning"
    = link_to t(".cancel"), photos_path, :class => "btn btn-large"