%legend
  = t(".legend")

- if can? :create, Photo
  = link_to t(".new_photo_button"), new_photo_path, :class => "btn btn-large btn-info btn-block"
  %br/

= link_to "Slideshow", "#", :class => "photo-Link btn btn-primary btn-block", "data-id" => Photo.first.id
%br/

/ Modal window to show slideshow.
%div{ :class => "modal-huge hide fade", :id => "modal-window-slideshow" }
  %div.modal-header
    %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
    %h3= "Photos"
  %div.modal-huge-body
    %div{ :id => "myCarousel", :class => "carousel slide" }
      / Carousel items
      %div{ :class => "carousel-inner", :id => "div-carousel-items" }
        - Photo.all.each_with_index do |photo, i|
          / You need to add the class of active only to the first item in your list, otherwise they'll all show.
          %div{ :class => "item", :id => "gallery-#{photo.id}" }
            = link_to(image_tag(photo.image.url), photo.image.url)

            / Description of photo
            - unless photo.description.blank?
              %div.carousel-caption
                %p= photo.description
      / Carousel nav
      %a{ :class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}‹
      %a{ :class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}›

/ Rendering photos (3 photo in 1 line).
%div{ :id => "gallery", "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery" }
  - Photo.all.each_slice(3) do |a,b,c|
    %div{ :class => "row-fluid" }
      - [a,b,c].each do |val|
        = render :partial => 'photo_item', :locals => { :photo => val }

/ 1. when click on pic create - add active class for picture (%div{ :class => "#{set_active_first_photo(i)} item"})
/ 2. Remove active
:javascript
  $(document).on("click", ".photo-Link", function () {
    var photoId = $(this).data('id');
    var photoInGalleryId = "gallery-" + photoId;

    document.getElementById( photoInGalleryId ).className = "active item";
    $('#modal-window-slideshow').modal('show')
  });

  $(document).on("click", ".close", function () {
    $('.myCarousel').carousel('pause')

    var div = document.getElementById("div-carousel-items");
    for( i=0; i<div.childNodes.length; i++ )
    {
      if ( ( div.childNodes[i].tagName == 'DIV' ) && ( div.childNodes[i].className != "item" ) )
        div.childNodes[i].className = "item";
    }
  });

- if Photo.first.nil?
  = t(".no_photos")