%legend
  = t(".legend")

- if can? :create, Photo
  = link_to t(".new_photo_button"), new_photo_path, :class => "btn btn-large btn-info btn-block"
  %br/

-# Here we do a trick and centering our button.
%div.span12.pagination-centered
  - unless @first_photo.nil?
    -# .photo-Link class uses to show slideshow, so, if you changes it then look into:
    -#  photo.js.coffee and _photo_item.html.haml
    = link_to "#", :class => "photo-Link btn btn-primary", "data-id" => @first_photo do
      = t(".slideshow")
      %i{ :class => "icon-play-circle" }
    %br/

/ Modal window to show slideshow.
%div{ :class => "modal-huge hide fade", :id => "modal-window-slideshow", "data-backdrop" => "static" }
  %div.modal-header
    %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
    %h3= t(".slides")
  %div.modal-huge-body
    %div{ :id => "myCarousel", :class => "carousel slide" }
      / Carousel items
      %div{ :class => "carousel-inner", :id => "div-carousel-items" }
        - Photo.all.each_with_index do |photo, i|
          / You need to add the class of active only to the first item in your list, otherwise they'll all show.
          %div{ :class => "item", :id => "gallery-#{photo.id}" }
            = link_to(image_tag(photo.image.url), photo.image.url)

            / Description of photo
            - unless photo.description.blank?
              %div.carousel-caption
                %p= photo.description
      / Carousel nav
      %a{ :class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}‹
      %a{ :class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}›

/ Rendering photos (3 photo in 1 line).
%div{ :id => "gallery", "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery" }
  - Photo.all.each_slice(3) do |a,b,c|
    %div{ :class => "row-fluid" }
      - [a,b,c].each do |val|
        = render :partial => 'photo_item', :locals => { :photo => val }

- if Photo.first.nil?
  = t(".no_photos")