%legend
  = t(".legend")

- if can? :create, Photo
  = link_to t(".new_photo_button"), new_photo_path, :class => "btn btn-large btn-info btn-block"
  %br/

= link_to "Slideshow", "#", {:remote => true, 'data-toggle' => 'modal', 'data-target' => "#modal-window-slideshow", 'data-backdrop' => true, 'data-keyboard' => true, :class => "btn btn-primary btn-block"}
%br/

/ Modal window to delete article.
%div{ :class => "modal-huge hide fade", :id => "modal-window-slideshow" }
  %div.modal-header
    %button{ :type => "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
    %h3= "Photos"
  %div.modal-huge-body
    / Carousel
    %div{ :id => "myCarousel", :class => "carousel slide" }
      / Carousel items
      %div.carousel-inner
        - Photo.all.each_with_index do |photo, i|
          / You need to add the class of active only to the first item in your list, otherwise they'll all show.
          %div{ :class => "#{set_active_first_photo(i)} item"}
            = link_to(image_tag(photo.image.url), photo.image.url)

            - unless photo.description.blank?
              %div.carousel-caption
                %p= photo.description
      / Carousel nav
      %a{ :class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}‹
      %a{ :class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}›

/ Rendering photos ( 3 photo in 1 line).
%div{ :id => "gallery", "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery" }
  - Photo.all.each_slice(3) do |a,b,c|
    %div{ :class => "row-fluid" }
      - [a,b,c].each do |val|
        = render :partial => 'photo_item', :locals => { :photo => val }

- if Photo.first.nil?
  = t(".no_photos")