%legend
  = t(".legend")

  - if can? :create, Photo
    = link_to t(".new_photo_button"), new_photo_path, :class => "btn btn-large btn-info btn-block"

- Photo.all.each do |p|
  = image_tag p.image if p.image?
  = p.description

- if Photo.first.nil?
  = t(".no_photos")