%legend
  = t(".legend")

= simple_form_for @photo do |f|
  = f.input :description, :input_html => { :rows => "3", :class => "span9" }
  = f.input :image

  %div{ :class => "form-actions"}
    = f.button :submit, t(".create"), :class => "btn btn-large btn-success"
    = link_to t(".cancel"), photos_path, :class => "btn btn-large"
