%div{ :class => "navbar navbar-inverse navbar-fixed-top" }
  %div{ :class => "navbar-inner" }
    %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
      %span{:class=>"icon-bar"}
      %span{:class=>"icon-bar"}
      %span{:class=>"icon-bar"}

    = link_to t(".brand_name"), root_path, { :class => "brand" }
    %div{ :class => "nav-collapse" }
      -# Left navigation.
      %ul{ :class => "nav" }
        %li{ :class => "#{active_link?( articles_path )}" }
          = link_to t(".articles_link"), articles_path
        %li{ :class => "#{active_link?( photos_path )}" }
          = link_to t(".photos_link"), photos_path

      -# Right navigation.
      %ul{ :class => "nav pull-right" }
        - if user_signed_in?
          %li=link_to t(".settings"), edit_user_registration_path
          %li{ :class => "divider-vertical" }
          %li=link_to t(".logout_link"), destroy_user_session_path, :method => :delete