!!!
%html
  %head
    %title MyApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"  }
  %body
    %div{ :class => "wrapper" }
      = render 'layouts/navbar_template'

      %div{ :class => "container-fluid" }
        -# Show flash message which can be closed by small x button.
        - flash.each do |key, msg|
          %div{ :class => "alert alert-#{key}" }
            %button{ :type => "button", :class => "close", "data-dismiss" =>"alert" }×
            = msg
        %div{ :class => "row-fluid" }
          %div{:class => "span10"}
            =yield
          %div{:class => "span2"}
            %h2 Test sidebar

    = render 'layouts/footer'
