!!!
%html
  %head
    %title MyApp
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"  }
  %body
    %div{ :id => "wrap" }
      = render 'layouts/navbar_template'

      %div{ :class => "container-fluid" }
        %div{ :class => "row-fluid" }
          %div{ :class => "span1" }
          %div{ :class => "span8" }
            -# Show flash message which can be closed by small x button.
            - flash.each do |key, msg|
              %div{ :class => "alert alert-#{key}" }
                %button{ :type => "button", :class => "close", "data-dismiss" =>"alert" }×
                = msg

            -# Body of the view.
            =yield
          %div{ :class => "span2 sidebar" }
            %p
              = link_to_unless_current "English", locale: "en"
              |
              = link_to_unless_current "Русский", locale: "ru"

            - if user_signed_in? and current_user.admin?
              = render 'layouts/admin_panel'
          %div{ :class => "span1" }
      %div{ :id => "push" }

    = render 'layouts/footer'

